
* {
    padding: 0px;
    margin: 0px;
}
    
body{
    max-width: 800px;
    margin: 50px auto;
}
.flex {
    display: flex;
    flex-flow: column wrap;
}

.padding-10 {
    padding: 2%;
}

.full-width {
    width: 95%;
}

.col-2 {
    width: 50%;
}

.col-4 {
    width: 25%;
}

.margin-1 {
    margin-top: 1px;
}

.bg-grey {
    background-color: #CCC;
}

.bg-red {
    background-color: #F88;
}

.roudned {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 5px;
}

label {
    font-weight: 600;
}

#container {
    width: 100%;
    display: flex;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid black;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}